p {
    color: white;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    background-color: #6D6D6D;
    border-radius: 20px;
    cursor: pointer;
}

div{
    transition: left 1s ease, right 1s ease;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #01BAA0;
}
div:nth-child(1){
    background-color: red;
    border: 1rem solid red;
}
div:nth-child(2){
    height: 175px;
    background-color: blue;
    border: 1rem solid blue;
}
div:nth-child(3){
    height: 150px;
    background-color: green;
    border: 1rem solid green;
}
div.active{
    background-color: yellow;
}
